language: node_js
node_js:
- "node"
script:
- cd ui && npm install
- cd ui && npm build
cache:
  directories:
  - "ui/node_modules"
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  local_dir: ui/build
